{% extends "squelette_td.html" %}
{% block header %}
    {{super()}}
{% endblock %}
{% block corps %}  
    <h1>Liste des images uploadées (cliquez pour visualiser)</h1>
    <div class="container">
        <div class="list-group">
          {% for picture_name in list %}
                <a href="/view/{{picture_name}}" class="list-group-item">{{picture_name}}
                <img src="/view/{{picture_name}}" class="img-thumbnail" alt="image" width="200" height="200"></a>
          {% endfor %}
        
        </div>
    </div>
{% endblock %}   
</html>